<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlatesOfFate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlatesOfFate.Properties.Settings>
            <setting name="AutoJoinSP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoJoinMP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoJoinIP" serializeAs="String">
                <value>192.168.1.2</value>
            </setting>
            <setting name="EquippedAura" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EquippedIcon" serializeAs="String">
                <value>0</value>
            </setting>
        </PlatesOfFate.Properties.Settings>
    </userSettings>
</configuration>